name: bootkit-build

on:
  push:
    branches:
      - main
    tags:
      - "[0-9].[0-9]+.[0-9]+"
      - "v[0-9].[0-9]+.[0-9]+"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Pull source
        uses: actions/checkout@v3
      - name: Prepare environment
        run: |
          sudo add-apt-repository -y ppa:project-machine/squashfuse
          sudo apt-get install mtools ovmf pip squashfuse
          sudo pip install virt-firmware
          sudo wget --progress=dot:mega -O /usr/bin/zot \
              https://github.com/project-zot/zot/releases/download/v2.0.0-rc5/zot-linux-amd64-minimal
          sudo chmod 755 /usr/bin/zot
          which zot
          sudo wget --progress=dot:mega -O /usr/bin/stacker \
              https://github.com/project-stacker/stacker/releases/download/v1.0.0-rc5/stacker
          sudo chmod 755 /usr/bin/stacker
          which stacker
          stacker --version

          sudo wget --progress=dot:mega -O /usr/bin/trust \
              https://github.com/project-machine/mos/releases/download/v0.0.26/trust-linux-amd64
          sudo chmod 755 /usr/bin/trust
          trust keyset add snakeoil
      - name: build golang
        run: |
          make go-stacker-build
      - name: build layers
        run: |
          make STACKER_COMMON_OPTS=--debug
      - name: Publish zot
        if: startsWith(github.ref, 'refs/tags/')
        env:
          PUBLISH_USER: ${{ secrets.ZOTHUB_USERNAME }}
          PUBLISH_PASSWORD: ${{ secrets.ZOTHUB_PASSWORD }}
          PUBLISH_URL: "docker://zothub.io/machine/bootkit"
        run: |
          make publish
      - name: Release bin
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: pkg/bkcust
